<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name= "cn" connectionString="Server=eveline\sqlexpress;Database=Hotels; 
        Integrated Security=true;TrustServerCertificate=true;"/>
	</connectionStrings>

	<appSettings>
		<add key ="ParentTableName" value="Clienti"/>
		<add key ="ChildTableName" value="Rezervari"/>
		<add key ="ChildNumberOfColumns" value="5"/>
		<add key ="ChildLabelNames" value="client_id,admin_id,check_in,check_out,status_id"/>
		<add key="ColumnNamesInsertParameters" value="@client_id,@admin_id,@check_in,@check_out,@status_id"/>
		<add key="UpdateQuery" value="update Rezervari set client_id=@client_id, admin_id=@admin_id, check_in=@check_in, check_out=@check_out, status_id=@status_id where id=@id"/>
		<add key="SelectQuery" value="select * from Rezervari"/>
		<add key="SelectParent" value="select * from Clienti"/>
		<add key="SelectChild" value="select * from Rezervari where client_id=@id"/>
		<add key="DeleteChild" value="delete from Rezervari where id=@id"/>
	</appSettings>
	
	
	
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>